<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>FIS,BWARI,NIGERIA</title>
<link rel="icon" href="images/fis.png" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">FIS</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
		<div class="min-h-full">
		    <nav class="bg-gray-800">
		        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		            <div class="flex h-16 items-center justify-between">
		                <div class="flex items-center">
							
		<div class="hidden md:block">
		                       <div class="ml-10 flex items-baseline space-x-4">
		                           <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
		                           <a th:href="@{/}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
		                           <a href="@{products}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Product</a>
		                           <a href="staff" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Staff</a>
		                           <a href="java" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Java</a>
								<a href="teachers" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Teachers</a>
		                           <a href="@{reports}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Reports</a>
		                       </div>
		                   </div>
						    </div>
							</div>
							
    </ul>
  </div>
</nav>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Create New Staff </h1>
				<div class = "card-body">
					<form th:action="@{/teachers}" th:object = "${teacher}" method="POST">
						<div class ="form-group">
							<label> Staff First Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter Teacher First Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Staff Last Name </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Teacher Last Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Staff Email </label>
							<input
							type = "text"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Teacher Email" 
							/>
						</div>
						<div class ="form-group">
							<label> Staff Id </label>
							<input
							type = "text"
							name = "student_id"
						    th:field = "*{student_id}"
							class = "form-control"
							placeholder="Enter Student ID" 
							/>
						   </div>
									
						   <div class ="form-group">
						   	<label> Staff Salary </label>
						   	<input
						   	type = "text"
						   	name = "salary"
						   	th:field = "*{salary}"
						   	class = "form-control"
						   	placeholder="Enter Teacher Salary" 
						   	/>
						   	</div>
						   									
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>